.container {
	width: 100%;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;

	@include mobile {
		max-width: 480px;
	}
	@include tablet {
		max-width: 768px;
	}
	@include desktop {
		max-width: 1200px;
	}
}

.list {
	list-style: none;
}

.link {
	display: inline-block;
	text-decoration: none;
}

.section {
	padding-top: 94px;
	padding-bottom: 94px;
}

body {
	background-color: #ffffff;
	color: #212121;

	font-family: Roboto, sans-serif;
}



html {
	box-sizing: border-box;
}
