:root {
	--primary-text-color: #212121;
	--secondary-text-color: #757575;
	--pimmary-white-color: #ffffff;
	--accent-color: #2196f3;
	--grad: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25))
}
