.hero {
	padding-top: 200px;
	padding-bottom: 200px;

	margin-left: auto;
	margin-right: auto;
	background-color: #2f303a;

	background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
		url(../images/herobackground-img.jpg);
	background-size: cover;
	max-width: 1600px;
	background-position: center;
	color: var(--pimmary-white-color);
}

.hero__title {
	@include font(900, 44px, 1.4, 0.06em);
	text-transform: uppercase;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 30px;
	max-width: 696px;
}

.hero__button {
	@include font(700, 16px, 1.9, 0.06em);
	min-width: 216px;
	height: 50px;

	display: block;
	margin: 0 auto;
	border-color: var(--accent-color);
	border-radius: 4px;

	background-color: var(--accent-color);
	color: var(--pimmary-white-color);

	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
