.backdrop {
	position: fixed;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.2);
	transition: opacity 350ms linear, visibility 350ms linear;
	&.is-hidden .modal {
		transform: translate(-50%, -50%) scaleY(0);
	}
}

.modal {
	position: absolute;
	width: 528px;
	min-height: 581px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: var(--pimmary-white-color);
	border-radius: 4px;
	transform: translate(-50%, -50%) scaleY(1);
	transition: 350ms cubic-bezier(0.4, 0, 0.2, 1);
	border-radius: 4px;
	padding: 40px;
}

.modal-close {
	width: 30px;
	height: 30px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--pimmary-white-color);
	position: absolute;
	right: 8px;
	top: 8px;
	transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
	&:focus {
		fill: var(--accent-color);
	}
	&:hover {
		fill: var(--accent-color);
	}

	&:hover .modal-close-icon {
		fill: var(--accent-color);
	}

	&:focus .modal-close-icon {
		fill: var(--accent-color);
	}
}

.is-hidden {
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
}

.modal-title {
	font-weight: 700;
	font-size: 20px;
	line-height: 1.15em;
	text-align: center;
	letter-spacing: 0.03em;
	text-align: center;
	margin-bottom: 12px;
}

.input-wrapped {
	position: relative;
	margin-bottom: 10px;
}

.modal-input {
	width: 100%;
	height: 40px;

	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	padding-left: 42px;
	outline: transparent;
	transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
	&:focus {
		border-color: var(--accent-color);
	}
}

.comment {
	margin-bottom: 18px;
}

.modal-text {
	border-radius: 4px;

	width: 100%;
	height: 120px;

	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	padding: 12px 16px;
	outline: transparent;
	resize: none;
	margin-bottom: 0;
	transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
	&:focus {
		border-color: var(--accent-color);
	}
	&::placeholder {
		font-weight: 400;
		font-size: 12px;
		line-height: 1.1666em;
		letter-spacing: 0.01em;

		color: rgba(117, 117, 117, 0.5);
	}
}

.input-icon {
	position: absolute;
	left: 12px;
	top: 50%;
	transform: translateY(-50%);
	.modal-input:focus + & {
		fill: var(--accent-color);
	}
}

.input-label {
	font-weight: 400;
	font-size: 12px;
	line-height: 1.1666em;
	color: var(--secondary-text-color);
	display: block;
	margin-bottom: 4px;

	letter-spacing: 0.01em;
	outline: transparent;
}

.checkbox-field {
	margin-bottom: 27px;
}

.policy-link {
	color: var(--accent-color);
	margin-left: 4px;
	position: relative;
	&::before {
		position: absolute;
		background-color: var(--accent-color);
		display: block;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 1px;
	}
}

.policy-label {
	display: flex;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.7142em;

	letter-spacing: 0.03em;

	color: #757575;
	justify-content: center;
	align-items: center;
}

.policy-label span {
	width: 16px;
	height: 15px;
	border: 2px solid rgba(33, 33, 33, 1);
	border-radius: 2px;
	display: flex;
	align-items: center;
	justify-content: center;
	fill: transparent;
	margin-right: 7px;
	.checkbox-input:checked + & {
		background-color: var(--accent-color);
		border: none;
		fill: var(--pimmary-white-color);
	}
}

.submit-button {
	display: flex;
	justify-content: center;
	background: var(--accent-color);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	border: 1px solid transparent;
	width: 200px;
	height: 50px;
	color: var(--pimmary-white-color);
	font-weight: 700;
	font-size: 16px;
	line-height: 1.875em;
	align-items: center;
	text-align: center;
	letter-spacing: 0.06em;
	margin: auto;

	color: rgba(255, 255, 255, 1);
}
